<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
</head>
<body>
    <header>
        {{message}}
    </header>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image">
                <img id="profile-pic" src="default-profile.jpg" alt="Foto de perfil">
                <input type="file" id="upload-photo" accept="image/*">
                <label for="upload-photo" class="upload-button">Cambiar foto</label>
            </div>
            <div class="profile-info">
                <input type="text" id="name" class="profile-input" placeholder="Nombre" value="Nombre del usuario">
                <input type="number" id="age" class="profile-input" placeholder="Edad" value="25">
            </div>
        </div>
        <div class="profile-links">
            <input type="url" id="website" class="profile-input" placeholder="Página web" value="https://www.tupagina.com">
            <input type="url" id="facebook" class="profile-input" placeholder="Facebook" value="https://www.facebook.com/tuusuario">
            <input type="url" id="twitter" class="profile-input" placeholder="Twitter" value="https://www.twitter.com/tuusuario">
            <input type="url" id="instagram" class="profile-input" placeholder="Instagram" value="https://www.instagram.com/tuusuario">
        </div>
    </div>
</body>
</html>
