<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
  post
{% endblock %}

{% block content %}
  <h1>Post list</h1>
  {% if posts is None %}{{ message }}{% endif %}

  {% for post in posts %}
    <article>
      <h2>
        <a href="{% url 'page' slug=post.slug %}">{{ post.title }}</a>
      </h2>
      <div>
        <p>{{ post.body }}</p>
      </div>
      <div>
        <span>{{ post.slug }}</span>
        <span>{{ post.date }}</span>
      </div>
    </article>
  {% endfor %}
{% endblock %}

{% block footer %}
  <h1>footer que no es por defecto</h1>
{% endblock %}
