{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
</head>
<body>
    <h1 class="a">register</h1>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form action="" method="post" class="form-with-validation">
        {% csrf_token %}
        {{form.as_p}}
        <button class="form-submit">registrarse</button>
    </form>
</body>
</html>