{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">abaut</a></li>
            <li><a href="{% url 'post_list'%}">POST</a></li>
        </ul>
    </header>
    <h1 class="ff">Section home</h1>
    <section>

    </section>
</body>
</html>