<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Loyout
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <li>
        <a href="/">😊</a>
      </li>
      <li>
        <a href="post">🍪</a>
      </li>
      <li>
        <a href="about">🐲</a>
      </li>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% block footer %}
        si no se usa nada en el bloke esto se mostratra por defecto
      {% endblock %}
    </footer>
  </body>
</html>
