<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Loyout
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body class="flex-container">
    <nav class="flex-items">
      <li>
        <a href="/"></a>
        <span role="img" aria-label="home" title="home">🏠</span>
      </li>
      <li>
        <a href="/about">
          <span role="img" aria-label="about" title="about">🐲</span>
        </a>
      </li>
      <li>
        <a href="{% url "posts:list" %}">
          <span role="img" aria-label="post" title="POST">🪧</span>
        </a>
      </li>
      <li>
        <a href="{% url "users:register" %}">
          <span role="img" aria-label="post" title="register">📋</span>
        </a>
      </li>
      <li>
        <a href="{% url "users:login" %}">
          <span role="img" aria-label="post" title="login">🔐</span>
        </a>
      </li>

     
    </nav>
    <main class="flex-items">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="flex-items">
      {% block footer %}
        si no se usa nada en el bloke esto se mostratra por defecto
      {% endblock %}
    </footer>
  </body>
</html>
